In [1]:
import pandas as pd
from pandas import Series, DataFrame
from sklearn import linear_model
from sklearn.metrics import confusion_matrix
import numpy as np

In [2]:
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")

In [3]:
train_logs

        user_id        date             url  seconds
0             0  10/27/2021  /keyboard.html      159
1             0   3/15/2021   /blender.html       15
2             0   7/29/2021  /keyboard.html       11
3             0   1/27/2021    /laptop.html      142
4             1    3/1/2021  /keyboard.html       78
...         ...         ...             ...      ...
104903    29999    7/5/2021  /keyboard.html       65
104904    29999    3/1/2021   /blender.html      111
104905    29999    7/9/2021    /laptop.html      120
104906    29999  11/13/2021    /tablet.html       24
104907    29999   7/20/2021    /cleats.html      147

[104908 rows x 4 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder= LabelEncoder()
train_y["y"]=LabelEncoder.fit_transform(train_y["y"])
#train_logs["secondes"]=LabelEncoder.fit_transform(train_logs["seconds"])
train_users['badge']=LabelEncoder.fit_transform(train_users["badge"])

In [5]:
train_logs.groupby(["user_id"]).sum()

         seconds
user_id
0            327
1             78
2            432
6            592
8            420
...          ...
29993        657
29994        807
29995        563
29996        532
29999        467

[26215 rows x 1 columns]

In [6]:
train_y

       user_id  y
0            0  0
1            1  0
2            2  1
3            3  0
4            4  0
...        ... ..
29995    29995  0
29996    29996  1
29997    29997  0
29998    29998  0
29999    29999  1

[30000 rows x 2 columns]

In [7]:
train_users["seconds"]=train_logs.groupby(["user_id"]).sum()
#train_users["y"]=train_y["y"].to_list()
train_users=train_users.fillna(0)
train_users

       user_id            names  age  past_purchase_amt  badge  seconds
0            0  Adriana Mcclure   26          39.344704      1    327.0
1            1    Stacy Gilmore   67          15.840151      2     78.0
2            2     Joanna Walsh   50        1099.420085      0    432.0
3            3    Eduardo Moore   65           5.880239      0      0.0
4            4   Angela Freeman   88        1312.296847      0      0.0
...        ...              ...  ...                ...    ...      ...
29995    29995    William Lewis   87         108.914205      0    563.0
29996    29996    James Miranda   49         291.969273      1    532.0
29997    29997     Carlos Davis   46           2.609698      0      0.0
29998    29998    Makayla Smith   23         164.885894      0      0.0
29999    29999    Tina Anderson   51         161.905284      1    467.0

[30000 rows x 6 columns]

In [8]:

features=['age','past_purchase_amt','badge',"seconds"]

In [9]:
x=train_users[features].values
y=train_y['y'].values
#model=lm.fit(x,y)
#model

In [10]:
# from sklearn.model_selection import train_test_split
# data_train, data_test, target_train, target_test = \
# train_test_split(x, y)

In [38]:
test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
test_y=pd.read_csv("data/test1_y.csv")

In [41]:
logs_seconds=test_logs.groupby(["user_id"]).sum()
#test_users_table=test_users[[""]]
df_whole=test_users.merge(logs_seconds,on="user_id", how="left")

       user_id             names  age  past_purchase_amt   badge  seconds
0        30000    Craig Thompson   56           2.412409  bronze    539.0
1        30001    Blake Davidson   31          71.488070  silver    540.0
2        30002      Micheal Tate   74          22.641604    gold    439.0
3        30003  Christian Morris   31        1141.450277  silver    789.0
4        30004      Carrie Carey   76         146.152877  bronze    659.0
...        ...               ...  ...                ...     ...      ...
29995    59995     John Figueroa   65           9.128541  bronze    785.0
29996    59996   Anthony Jimenez   53          41.161813    gold     54.0
29997    59997        Penny Webb   88           7.126658  silver    168.0
29998    59998      Gary Salazar   46          30.402432  silver    327.0
29999    59999       Richard Cox   34          26.290697  bronze    603.0

[30000 rows x 6 columns]

In [13]:
df=test_logs.groupby(["user_id"]).sum()
test_users.index=Series(range(30000,60000))
test_users["user_id"]=test_users["user_id"].map(lambda x:x-30000)
test_users["seconds"]=test_logs.groupby(["user_id"]).sum()
test_users['badge']=LabelEncoder.fit_transform(test_users["badge"])
test_users=test_users.fillna(0)
test_users

       user_id             names  age  past_purchase_amt  badge  seconds
30000        0    Craig Thompson   56           2.412409      0    539.0
30001        1    Blake Davidson   31          71.488070      2    540.0
30002        2      Micheal Tate   74          22.641604      1    439.0
30003        3  Christian Morris   31        1141.450277      2    789.0
30004        4      Carrie Carey   76         146.152877      0    659.0
...        ...               ...  ...                ...    ...      ...
59995    29995     John Figueroa   65           9.128541      0    785.0
59996    29996   Anthony Jimenez   53          41.161813      1     54.0
59997    29997        Penny Webb   88           7.126658      2    168.0
59998    29998      Gary Salazar   46          30.402432      2    327.0
59999    29999       Richard Cox   34          26.290697      0    603.0

[30000 rows x 6 columns]

In [14]:
test_y["y"]=LabelEncoder.fit_transform(test_y["y"])
x_test=test_users[features].values
y_test=test_y['y'].values
y_test

array([1, 1, 1, ..., 0, 1, 1])

In [15]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression(max_iter=1000)
model.fit(x,y)
#model.score(x,y)

LogisticRegression(max_iter=1000)

In [16]:
def predict(x_test):
    y_predict=model.predict(x_test)
    return y_predict
predict(x_test)

array([1, 1, 0, ..., 0, 0, 1])

In [47]:
model=PolynomialFeatures(include_bias = True)

PolynomialFeatures()

In [17]:
#y_pred = model.predict(test_users, test_logs)

In [18]:
# def file(x,y,z):
#     train_users = pd.read_csv(x)
#     train_logs = pd.read_csv(y)
#     train_y = pd.read_csv(z)
#     train_y["y"]=LabelEncoder.fit_transform(train_y["y"])
    
#     train_users['badge']=LabelEncoder.fit_transform(train_users["badge"])
    
#     train_users["y"]=train_y["y"].to_list()
#     train_users["user_id"]=train_users.reindex(range(30000,60000))
 
#     train_users["seconds"]=train_logs.groupby(["user_id"]).sum()
#     return train_users

In [19]:
# y=file("data/test1_users.csv","data/test1_logs.csv","data/test1_y.csv")

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [21]:
m = Pipeline([
    ("lr", LogisticRegression())
])

In [22]:
    
        
    def fit(train_users, train_logs, train_y):
        train_y["y"]=LabelEncoder.fit_transform(train_y["y"])
        train_users['badge']=LabelEncoder.fit_transform(train_users["badge"])
        train_users["seconds"]=train_logs.groupby(["user_id"]).sum()
        train_users=train_users.fillna(0)
       
        x=train_users[self.feature].values
        y=train_y['y'].values
        model= LogisticRegression(max_iter=1000)
        model.fit(x,y)
        
    def predict(test_users, test_logs):
        test_users.index=Series(range(30000,60000))
        test_users["user_id"]=test_users["user_id"].map(lambda x:x-30000)
        test_users["seconds"]=test_logs.groupby(["user_id"]).sum()
        test_users['badge']=LabelEncoder.fit_transform(test_users["badge"])
        test_users=test_users.fillna(0)
        features=['age','past_purchase_amt','badge',"seconds"]
        x_test=test_users[features].values
        y_predict=model.predict(x_test)
        predict= LabelEncoder.inverse_transform(y_predict)
        return predict

In [49]:
class Person():
    def __init__(self):
        self.name = "wange"
        self.age = "rog"
       
  
    def myfunc(self, name):
        return name

#p1 = Person("John", 36)
#p1.myfunc()
#Person().myfunc("John")
bart=Person()
bart.name

'wange'

In [24]:
class Person:
    def __init__(self):
        self.name = "wange"
        self.age = "rog"
      
  
    def myfunc(self,name2, year2):
        return name2
    
    

#Person.myfunc("John",36)
#bart=Person()
#bart.name



Person().myfunc("John",36)

'John'

In [25]:
from sklearn.preprocessing import LabelEncoder
def table_m(file_users, file_logs):
    file_users['badge']=LabelEncoder().fit_transform(file_users["badge"])
    file_users["seconds"]=file_logs.groupby(["user_id"]).sum()
    file_users=file_users.fillna(0)
    return file_users
        
def table_y(file_y): #change true or false to 0,1
  #  LabelEncoder= LabelEncoder()
    file_y["y"]=LabelEncoder().fit_transform(file_y["y"])
    return file_y
    
def table_test_x(test_users, test_logs):
    test_users.index=Series(range(30000,60000))
    test_users["user_id"]=test_users["user_id"].map(lambda x:x-30000)
    test_users["seconds"]=test_logs.groupby(["user_id"]).sum()
    test_users['badge']=LabelEncoder().fit_transform(test_users["badge"])
    test_users=test_users.fillna(0)
    return test_users

In [26]:
table_m(train_users,train_logs)

       user_id            names  age  past_purchase_amt  badge  seconds
0            0  Adriana Mcclure   26          39.344704      1    327.0
1            1    Stacy Gilmore   67          15.840151      2     78.0
2            2     Joanna Walsh   50        1099.420085      0    432.0
3            3    Eduardo Moore   65           5.880239      0      0.0
4            4   Angela Freeman   88        1312.296847      0      0.0
...        ...              ...  ...                ...    ...      ...
29995    29995    William Lewis   87         108.914205      0    563.0
29996    29996    James Miranda   49         291.969273      1    532.0
29997    29997     Carlos Davis   46           2.609698      0      0.0
29998    29998    Makayla Smith   23         164.885894      0      0.0
29999    29999    Tina Anderson   51         161.905284      1    467.0

[30000 rows x 6 columns]

In [27]:
table_y(train_y)['y']

0        0
1        0
2        1
3        0
4        0
        ..
29995    0
29996    1
29997    0
29998    0
29999    1
Name: y, Length: 30000, dtype: int64

In [28]:
table_test_x(test_users, test_logs)

       user_id             names  age  past_purchase_amt  badge  seconds
30000   -30000    Craig Thompson   56           2.412409      0    539.0
30001   -29999    Blake Davidson   31          71.488070      2    540.0
30002   -29998      Micheal Tate   74          22.641604      1    439.0
30003   -29997  Christian Morris   31        1141.450277      2    789.0
30004   -29996      Carrie Carey   76         146.152877      0    659.0
...        ...               ...  ...                ...    ...      ...
59995       -5     John Figueroa   65           9.128541      0    785.0
59996       -4   Anthony Jimenez   53          41.161813      1     54.0
59997       -3        Penny Webb   88           7.126658      2    168.0
59998       -2      Gary Salazar   46          30.402432      2    327.0
59999       -1       Richard Cox   34          26.290697      0    603.0

[30000 rows x 6 columns]

In [29]:
from sklearn.compose import make_column_transformer
trans_both = make_column_transformer(
    (PolynomialFeatures(), ["age"]),
    (OneHotEncoder(), ["seconds"])
)

In [44]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
def table_x(file_users, file_logs):
    file_users['badge']=LabelEncoder().fit_transform(file_users["badge"])
    file_users["seconds"]=file_logs.groupby(["user_id"]).sum()
    file_users=file_users.fillna(0)
    return file_users
        
def table_y(file_y): #change true or false to 0,1
  #  LabelEncoder= LabelEncoder()
    file_y["y"]=LabelEncoder().fit_transform(file_y["y"])
    return file_y
    
def table_test_x(test_users, test_logs):
    logs_seconds=test_logs.groupby(["user_id"]).sum()
    test_users=test_users.merge(logs_seconds,on="user_id", how="left")
    test_users['badge']=LabelEncoder().fit_transform(test_users["badge"])
    test_users=test_users.fillna(0)
    return test_users

class UserPredictor():
    def __init__(self):
        self.feature= ['age','past_purchase_amt','badge',"seconds"] 
        self.pipline= Pipeline([('scale', StandardScaler()),
                                ("pf", PolynomialFeatures(degree=2, include_bias=False)),
                                ("lr", LogisticRegression())])
    
    def fit(self, train_users, train_logs, train_y):
        global result
        x=table_x(train_users,train_logs)[self.feature].values
        y=table_y(train_y)['y'].values
        result=self.pipline.fit(x,y)
        
    def predict(self, test_users, test_logs):
        x_test=table_test_x(test_users, test_logs)[self.feature].values
        y_predict=result.predict(x_test)
       # bool_predict = np.array(y_predict, dtype= bool)
       
       # predict_result= LabelEncoder().inverse_transform(y_predict)
    
        return y_predict#bool_predict
    
    
#from main import UserPredictor
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
UserPredictor().fit(train_users, train_logs, train_y)
test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred =  UserPredictor().predict(test_users, test_logs)
#UserPredictor().pipline.fit(x,y).predict(x_test)
#UserPredictor().pipline.
#UserPredictor().pipline
y_pred
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93     16531
           1       0.92      0.91      0.91     13469

    accuracy                           0.92     30000
   macro avg       0.92      0.92      0.92     30000
weighted avg       0.92      0.92      0.92     30000

In [43]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.91      0.90     16531
           1       0.88      0.88      0.88     13469

    accuracy                           0.89     30000
   macro avg       0.89      0.89      0.89     30000
weighted avg       0.89      0.89      0.89     30000

In [32]:
y_pred = model.predict(test_users, test_logs)

In [33]:
y_pred

array([1, 1, 0, ..., 0, 1, 1])

In [34]:
def table_x(file_users, file_logs):
    file_users['badge']=LabelEncoder.fit_transform(file_users["badge"])
    file_users["seconds"]=file_logs.groupby(["user_id"]).sum()
    file_users=file_users.fillna(0)
    return file_users
        
def table_y(file_y): #change true or false to 0,1
   # LabelEncoder= LabelEncoder()
    file_y["y"]=LabelEncoder.fit_transform(file_y["y"])
    return file_y
    
def table_test_x(test_users, test_logs):
    test_users.index=Series(range(30000,60000))
    test_users["user_id"]=test_users["user_id"].map(lambda x:x-30000)
    test_users["seconds"]=test_logs.groupby(["user_id"]).sum()
    test_users['badge']=LabelEncoder.fit_transform(test_users["badge"])
    test_users=test_users.fillna(0)
    return test_users

class UserPredictor():
    def __init__(self):
        self.feature= ['age','past_purchase_amt','badge',"seconds"] 
        self.pipline= Pipeline([("lr", LogisticRegression())])
    
    def fit(self, train_users, train_logs, train_y):
        x=table_x(train_users,train_logs)[self.feature].values
        y=table_y(train_y)['y'].values
        self.pipline.fit(x,y)
        
        
    def predict(self, test_users, test_logs):
        x_test=table_test_x(test_users, test_logs)[self.feature].values
        y_predict=self.pipline.predict(x_test)
        predict_result= LabelEncoder.inverse_transform(y_predict)
        return predict_result

In [35]:
from main import UserPredictor
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

/home/surface/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(